<?xml version="1.0"?>
<launch>
    
    <arg name="vehicle" default="iris"/>
    <arg name="x" default="0"/>
    <arg name="y" default="0"/>
    <arg name="z" default="-5"/>
    <arg name="world" default="$(find cse571_project)/worlds/iris_reef.world"/>
 
    <include file="$(find cse571_project)/launch/2hipp.launch">
        <arg name="vehicle" value="$(arg vehicle)"/>
        <arg name="x" value="$(arg x)"/>
        <arg name="y" value="$(arg y)"/>
        <arg name="z" value="$(arg z)"/>
        <arg name="world" value="$(arg world)"/>
    </include>

</launch>
