<?xml version="1.0"?>
<launch>
    
    <arg name="vehicle" default="iris"/>
    <arg name="x" default="-10"/>
    <arg name="y" default="-6"/>
    <arg name="z" default="-5"/>
    <arg name="R" default="0"/>
    <arg name="P" default="0"/>
    <arg name="Y" default="0"/>

    <arg name="world" default="$(find group_13)/worlds/iris_reef.world"/>
    <arg name="sdf" default="$(find mavlink_sitl_gazebo)/models/$(arg vehicle)/$(arg vehicle).sdf"/>
 
    <include file="$(find group_13)/launch/hipp.launch">
        <arg name="vehicle" value="$(arg vehicle)"/>
        <arg name="x" value="$(arg x)"/>
        <arg name="y" value="$(arg y)"/>
        <arg name="z" value="$(arg z)"/>
        <arg name="R" value="$(arg R)"/>
        <arg name="P" value="$(arg P)"/>
        <arg name="Y" value="$(arg Y)"/>
        <arg name="world" value="$(arg world)"/>
        <arg name="sdf" value="$(arg sdf)"/>
    </include>

</launch>
